<div class="row">
  <div class="col-md-2">
    <select multiple="multiple" class="form-control">
      <option value="top">top</option>
      <option value="left">left</option>
      <option value="right">right</option>
    </select>
  </div>
  <div class="col-md-8">
    <input class="form-control" placeholder="Text" maxlength="10 ">
  </div>
  <div class="col-md-2">
    <button class="btn btn-success">Do Event</button>
  </div>
</div>