<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">NG2 Data Flow Playground</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <input class="form-control" disabled="disabled">
  </div>
</nav>