<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-top></app-top>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-left></app-left>
    </div>
    <div class="col-md-6">
      <app-right></app-right>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <app-bottom></app-bottom>
    </div>
  </div>
</div>
